<#macro zui_common_left>
<!-- zuiLefter-start -->
<div class="zuiLefter bkg_293038 udf_w_180 clr_wte">
	<div
		class="bkg_394555 udf_h_35 hv_pnt icon-unfold clr_aeb9c2 tl_ct ln_heg_35">
		<a class="dspy_blok frame_icon_all dpnoe mg_tp_13"></a>
	</div>
	<!-- left-menu1-start -->
	
	<!-- left-menu1-end -->
	<!-- left-menu2-start -->
	
	
    <!-- left-menu2-end -->
     <!-- left-menu3-start -->
	<div class="lefterMenu mg_tp_1">
		<div>
			<a id="taskManager3"
				class="menuOneLevel dspy_blok bdr_bm_414d5c bkg_22282E udf_h_40 ln_heg_40 hv_pnt wd_b_100 menuHover">
				<span
				class="menuOneIcon dspy_blok frame_icon_all sh_icon mg_lt_15 mg_tp_15"></span>
				<span class="menu_text text_size_14">商品管理</span>
			</a>
			<ul id="taskManager3MenuList" class="wd_b_100 menuChilder">
				<li><a id="dakaIndex"
					class="menunode dspy_blok bkg_22282E udf_h_40 ln_heg_40 hv_pnt wd_b_100"
					action="ordersystem/goods/goodsIndex"> <span
						class="text_size_14 menu_text">商品信息</span>
				</a></li>

			</ul>
		</div>
	</div>
	
      <!-- left-menu3-end -->
      <!-- left-menu4-start -->
      <div class="lefterMenu mg_tp_1">
		<div>
			<a id="taskManager4"
				class="menuOneLevel dspy_blok bdr_bm_414d5c bkg_22282E udf_h_40 ln_heg_40 hv_pnt wd_b_100 menuHover">
				<span
				class="menuOneIcon dspy_blok frame_icon_all sh_icon mg_lt_15 mg_tp_15"></span>
				<span class="menu_text text_size_14">系统管理</span>
			</a>
			<ul id="taskManager4MenuList" class="wd_b_100 menuChilder">
				<li><a id="dakaIndex"
					class="menunode dspy_blok bkg_22282E udf_h_40 ln_heg_40 hv_pnt wd_b_100"
					action="ordersystem/user/userIndex"> <span
						class="text_size_14 menu_text">用户列表</span>
				</a></li>

			</ul>
		</div>
	</div>
      <!-- left-menu4-end -->
 <!-- left-menu5-start -->
      <div class="lefterMenu mg_tp_1">
		<div>
			<a id="taskManager5"
				class="menuOneLevel dspy_blok bdr_bm_414d5c bkg_22282E udf_h_40 ln_heg_40 hv_pnt wd_b_100 menuHover">
				<span
				class="menuOneIcon dspy_blok frame_icon_all sh_icon mg_lt_15 mg_tp_15"></span>
				<span class="menu_text text_size_14">点餐</span>
			</a>
			<ul id="taskManager5MenuList" class="wd_b_100 menuChilder">
				<li><a id="dakaIndex"
					class="menunode dspy_blok bkg_22282E udf_h_40 ln_heg_40 hv_pnt wd_b_100"
					action="ordersystem/order/orderIndex"> <span
						class="text_size_14 menu_text">用户点餐</span>
				</a></li>

			</ul>
		</div>
	</div>
      <!-- left-menu5-end -->
</div>
<!-- zuiLefter-end -->
</#macro>
