<#macro zui_common_table>
<br>
<div style="text-align:center;">请选择您的餐桌号</div>
<br>
<div class='deskrow'>
    <div style="margin-top:10px;">
		<div class='desk' deskno=1>1号桌</div>
		<div class='desk' deskno=2>2号桌</div>
		<div class='desk' deskno=3>3号桌</div>
		<div class='desk' deskno=4>4号桌</div>
		<div class='desk' deskno=5>5号桌</div>
	</div>
	<div style="margin-top:10px;">
		<div class='desk' deskno=6>6号桌</div>
		<div class='desk' deskno=7>7号桌</div>
		<div class='desk' deskno=8>8号桌</div>
		<div class='desk' deskno=9>9号桌</div>
		<div class='desk' deskno=10>10号桌</div>
	</div>
	<div style="margin-top:10px;">
		<div class='desk' deskno=11>11号桌</div>
		<div class='desk' deskno=12>12号桌</div>
		<div class='desk' deskno=13>13号桌</div>
		<div class='desk' deskno=14>14号桌</div>
		<div class='desk' deskno=15>15号桌</div>
	</div>
	<div style="margin-top:10px;">
		<div class='desk' deskno=16>16号桌</div>
		<div class='desk' deskno=17>17号桌</font></div>
		<div class='desk' deskno=18>18号桌</div>
		<div class='desk' deskno=19>19号桌</div>
		<div class='desk' deskno=20>20号桌</div>
	</div>
	<div style="margin-top:10px;">
		<div class='desk' deskno=21>21号桌</div>
		<div class='desk' deskno=22>22号桌</div>
		<div class='desk' deskno=23>23号桌</div>
		<div class='desk' deskno=24>24号桌</div>
		<div class='desk' deskno=25>25号桌</div>
	</div>
</div>

</#macro>