<#macro zui_common_food>

<div id="poporder" style='display:none;'>
    <div id='pop_deskno'></div>
    <input type='hidden' id='pop_h_deskno'>
    <div>
   
        <table style='margin-top:50px;margin-left:20px;'>
            <tbody id='pop_tbody'>
                <tr>
	                <th>菜名</th>
	                <th>类型</th>
<!-- 	            <th>描述</th> -->
	                <th>价格</th>
	                <th>功能</th>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript"> 
    var poporder=$('#poporder');
    $('.desk').click(function(){
    	var t=$(this);
    	var deskno=t.attr('deskno');
    	$('#pop_deskno').html('您正在就餐的是：'+deskno+'号餐桌');
    	$('#pop_h_deskno').val(deskno);
    	//alert($('#pop_h_deskno').val());
    	loadfood(deskno);
    	poporder.css('display','block');    	
    });
    
    function loadfood(deskno){
    	$.ajax({
			type: 'POST',
			url: 'order/getOrderGoodsListByTableCode',
			processData: true,
			data: 'tableCode='+deskno,
			success: function(callData) {
// 				alert(callData);
				var json = eval('(' + callData + ')');
				if(json && json.responseEntity) {
					addfood(json.responseEntity);
                   
				}
			},
			error: function() {
				showTipWin(false, 'URL请求失败！'+reqUrl);
			}
		});
    }
    function addfood(data){
//     	data=[{goodsCode:'1',goodsName:'鱼',goodsType:'热菜',goodsDescribe:'哈哈',goodsPrice:58},
//     	      {goodsCode:'2',goodsName:'小鱼',goodsType:'热菜',goodsDescribe:'热',goodsPrice:45}];
    	var tbody=$('#pop_tbody');
    	tbody.html("");
//     	tbody.append("<tr><th>菜名</th><th>类型</th><th>描述</th><th>价格</th><th>份数</th><th>功能</th></tr>");
    	tbody.append("<tr><th>菜名</th><th>类型</th><th>价格</th><th>份数</th><th>功能</th></tr>");
    	for(var i=0;i<data.length;i++){
    		var o=data[i];
    	    var ths="<th>"+o.goodsName+"</th>"
    	           +"<th>"+o.goodsType+"</th>"
//     	           +"<th>"+o.goodsDescribe+"</th>"
    	           +"<th>"+o.goodsPrice+"</th>"
    	           +"<th>"+o.qty+"</th>"
    	           +"<th><input type='button' class='addorder' value='添加' goodsCode="+o.goodsCode+">&nbsp<input type='button' class='deleteGoods' value='减少'goodsCode="+o.goodsCode+"></th>";
    	         
    	    tbody.append("<tr>"+ths+"</tr>");
    	}
    	$('.addorder').click(function(){
        	var t=$(this);
        	var deskno=$('#pop_h_deskno').val();
        	var goodsCode=t.attr('goodsCode');
        	//alert(goodsCode);
        	var params = '';
        	params += 'deskno='+deskno;
        	//&连接符
        	params += '&goodsCode='+goodsCode;
        	$.ajax({
    			type: 'POST',
    			url: 'goods/addOrder',
    			processData: true,
    			data: params,
    			success: function(callData) {
//     				alert(callData);
    				var json = eval('(' + callData + ')');
    				if(json && json.message) {
//     					alert('操作成功');
    					loadfood(deskno);
    				}
    			},
    			error: function() {
    				showTipWin(false, 'URL请求失败！'+reqUrl);
    			}
    		});
        });	
    	
    	$('.deleteGoods').click(function(){
        	var t=$(this);
        	var deskno=$('#pop_h_deskno').val();
        	var goodsCode=t.attr('goodsCode');
//         	alert(deskno);
//            alert(goodsCode);
        	var params = '';
        	params += 'deskno='+deskno;
        	params += '&goodsCode='+goodsCode;
        	$.ajax({
    			type: 'POST',
    			url: 'order/delOrderGoods',
    			processData: true,
    			data: params,
    			success: function(callData) {
//      				alert(callData);
    				var json = eval('(' + callData + ')');
    				if(json && json.message) {
    					
//     					alert(json.message);
    					loadfood(deskno);
    				}
    			},
    			error: function() {
    				showTipWin(false, 'URL请求失败！'+reqUrl);
    			}
    		});
        });
    }
    
    
</script>
</#macro>