<#macro zui_common_top>
	<!-- zuiHeader-start -->
	<div class="zuiHeader bkg_009B72 clr_wte text_size_16" >
<!-- 		<div class="dspy_blok frame_icon_all logo_a mg_lt_15 ft_lt"></div> -->
		<a class="dspy_blok mg_lt_10">叮咚餐厅自助点餐平台</a>
		<!-- top-menu-start -->
		<div class="headerTopMenu bkg_008fbf text_size_14">
			<div class="ft_lt mg_lt_1 hv_pnt bkg_09c pd_0_15">
				
			</div>
			<!-- <div id="userLogoutPanel" class="ft_lt mg_lt_1 hv_pnt bkg_09c pd_0_15">
				退出
			</div> -->
		</div>
		<!-- top-menu-end -->
	</div>
	<!-- zuiHeader-end -->
</#macro>