/*------ frame-main-start ------*/
.deskrow {
	margin-top:10px;
	margin-left:10px;
}
.desk {
    width: 100px;
    height: 100px;
    float:left;
    border:1px #009B72 solid;
    margin-right:50px;
    background-color:rgb(0, 155, 114);
    text-align:center;
    line-height: 90px;
}
.full {
	background-color:red;
}
#poporder {
	width:100%;
	height:100%;
/* 	background-color:yellow; */
/* 	position:absolute;  */
/* 	left:0px;  */
/* 	top:0px; */
}
#pop_tbody {
	border:1px #400040 solid;
	
	
}
#pop_tbody tr {
	height:25px;
	font-size:10px;
	font-color:red;
	font-face:宋体;
}
#pop_tbody th {
	width:100px;
	
}