<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<#include "/common/com-head.html" />
<#include "/top/com-top.html" />
<#include "/order/choseFood.html" />
<#include "/order/choseTable.html" />
<html>
	<head>
		<@zui_common_head></@zui_common_head>
	</head>
  	<body>
    	<!-- 主体框架-start -->
    	<div class="wd_hg_100">
    		
    		<@zui_common_top></@zui_common_top>
    		
    		<!-- zuiMainFrame-start -->
    		<div class="zuiMainFrame bkg_ffffff">
    		    <div style="float:left;width:60%;height:100%;border-right:1px solid black;overflow:auto;">
    		        <@zui_common_table></@zui_common_table>
    		    </div>
    			<div style="float:left;width:39%;height:100%;overflow:auto;">
           
    			    <@zui_common_food></@zui_common_food>
    			</div>
	    		
	    		<!-- zuiCenter-start -->
<!-- 	    		<div class="zuiCenter bkg_ffffff"></div> -->
	    		<!-- zuiCenter-end -->
    		</div>
    		<!-- zuiMainFrame-end -->
    	</div>
    	<!-- 主体框架-end -->
	</body>
</html>



